.vscode
.idea
.DS_Store
*.pyc
*.class
*.o
*.out
*.exe
*.a
# C
*.d
*.i
*.s
*.ko
*.obj
*.elf
*.ilk
*.map
*.exp
*.gch
*.pch
*.lib
*.dll
*.dylib
*.dSYM/
*.su
*.idb
*.pdb

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IntelliJ IDEA
*.iml
*.iws
.idea_modules/
out/
atlassian-ide-plugin.xml
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties
